{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue, {{ user.nom }}{{ user.prenom }}</h1>
<p>Age : {{ user.age }}</p>


    
</div>
{% endblock %}
