{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block body %}
    <header class="site-header">
        <h1>Bienvenue sur le site de votre Collège</h1>
        <p>Un lieu d'excellence, de savoir et de réussite 🌟</p>
    </header>

    <main class="content">
        <section class="presentation">
            <p>Une éducation de qualité avec des enseignants passionnés et des infrastructures modernes.</p>
        </section>

        {% if app.user is not null %}
            <section class="user-reservations">
                <a href="{{ path('app_reservations') }}" class="btn btn-primary mt-3">Voir mes réservations</a>
            </section>
        {% endif %}
    </main>
{% endblock %}
