{% extends 'base.html.twig' %}

{% block title %}Cantine{% endblock %}

{% block body_class %}cantine-page{% endblock %}

{% block body %}
    <header class="site-header">
        <h1>Cantine</h1>
        <p>Trouvez le menu de la cantine et les tarifs📖</p>
    </header>

{% endblock %}