{% extends 'base.html.twig' %}

{% block title %}Imprimerie{% endblock %}

{% block body_class %}imprimerie-page{% endblock %}

{% block body %}
    <header class="site-header">
        <h1>Imprimerie</h1>
        <p>Imprimante pour prof📖</p>
    </header>

{% endblock %}