{% extends 'base.html.twig' %}

{% block title %}Page incrisption mon site - Mon Site{% endblock %}

{% block body %}
    <h1>Bienvenue dans la page d'inscription</h1>
    <p>Ceci est le contenu spécifique à la page d'inscription</p>
{% endblock %}