{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Liste des Utilisateurs</h1>
    
    <table class="w-full bg-white shadow-md rounded-lg">
        <thead>
            <tr class="bg-gray-200">
                <th class="p-3 text-left">ID</th>
                <th class="p-3 text-left">Nom</th>
                <th class="p-3 text-left">Email</th>
                <th class="p-3 text-left">Niveau</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
                <tr class="border-b">
                    <td class="p-3">{{ utilisateur.id }}</td>
                    <td class="p-3">{{ utilisateur.nom }}</td>
                    <td class="p-3">{{ utilisateur.email }}</td>
                    <td class="p-3">{{ utilisateur.niveau }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="p-3 text-center">Aucun utilisateur trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
