{% extends 'base.html.twig' %}

{% block title %}Page conexion mon site - Mon Site{% endblock %}

{% block body %}
    <h1>Bienvenue dans la page de connexion !</h1>
    <p>Ceci est le contenu spécifique à la page de conexnexion.</p>
{% endblock %}