{% extends 'base.html.twig' %}

{% block title %}Bibliothèque{% endblock %}

{% block body_class %}bibliotheque-page{% endblock %}

{% block body %}
    <header class="site-header">
        <h1>Decouvrez notre bilbliothèque</h1>
        <p>Trouvez un vaste choix de livre pour tous les goûts 📖</p>
    </header>

{% endblock %}